html, body, table, tr, td, h1, h2, h3, h4, h5, input, select, p, textarea
{
    font-family: 'Segoe UI', 'Tahoma', 'Arial';
}


.sign-in-logo
{
    width: 300px;
    margin: auto;
    margin-top: 160px;
}

.sign-in
{
    width: 300px;
    margin: auto;
    height: 240px;
    background-color: #F0F0F0;
    padding: 12px;
}

    .sign-in:hover
    {
        background-color: #F0F0E0;
    }

a img
{
    border: none;
}

a
{
    text-decoration: none;
}

    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, a:hover, span:hover, table:hover, tr:hover, td:hover, div:hover
    {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }

.ajax-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #A7D0D9;
    opacity: .5;
}

.ajax-loader
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
    opacity: 0.9;
}


.report-parameter
{
    border: 1px solid #EDCAF7;
    background-color: #F8EBFC;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 12px;
}

    .report-parameter table
    {
        border-collapse: collapse;
        color: #8F16B8;
    }

        .report-parameter table tr td, .report-parameter table tr td input
        {
            outline: none;
            font-size: 11px;
            color: #8F16B8;
        }

            .report-parameter table tr td input
            {
                border: 1px solid #F3DFFF;
            }

            .report-parameter table tr td:first-child
            {
                padding: 4px;
                width: 132px;
            }













                body
    {
        font-size: 11px!important;
    }

    hr
    {
        border: 1px solid gray;
        border-top: 0px;
    }

    table.report tr th, table.report tr td
    {
        padding: 4px;
    }


    .table
    {
        border-collapse: collapse;
        border: 1px solid gray;
        min-width: 400px;
    }

        .table td
        {
            border: 1px solid gray;
            padding: 4px!important;
        }

    table.horizontal > tbody > tr > td:first-child
    {
        width: 180px;
        font-weight: bold;
    }


    .report-command
    {
        border: 1px solid #EDCAF7;
        position: absolute;
        padding: 4px 12px 4px 12px;
        top: 20px;
        right: 20px;
        background-color: #F8EBFC;
    }

        .report-command:hover
        {
            background-color: #F2DAFA;
        }

    @media print
    {
        .hide
        {
            display: none;
        }
    }
