<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) Binod Nepal, Mix Open Foundation (http://mixof.org).

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. 
If a copy of the MPL was not distributed  with this file, You can obtain one at 
http://mozilla.org/MPL/2.0/.
-->
<configuration>
    <configSections>
        <section name="MixERPParameters" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="MixERPDbParameters" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="MixERPSwitches" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <MixERPDbParameters configSource="Resource\Configuration\DbParameters.xml" />
    <MixERPParameters configSource="Resource\Configuration\Parameters.xml" />
    <MixERPSwitches configSource="Resource\Configuration\Switches.xml" />
    <appSettings>
        <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Resource/TempImages/;" />
        <add key="Server" value="localhost" />
        <add key="Database" value="mixerp" />
        <add key="UserId" value="postgres" />
        <add key="Password" value="binod" />
        <add key="DisplayError" value="true" />
        <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
        <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="34327;True;6180;1;-8588270976784922983" />
        <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    </appSettings>
    <system.web>
        <httpHandlers>
            <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
        </httpHandlers>
        <httpRuntime requestValidationMode="2.0" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <sessionState mode="InProc" cookieless="UseCookies" timeout="60" />
        <authentication mode="Forms">
            <forms loginUrl="~/SignIn.aspx" timeout="60" slidingExpiration="true" defaultUrl="~/Dashboard/Index.aspx" />
        </authentication>
        <pages controlRenderingCompatibilityVersion="4.0" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" theme="MixErp" clientIDMode="Static">
            <controls>
                <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
                <add tagPrefix="mixerp" tagName="Form" src="~/UserControls/Forms/FormControl.ascx" />
                <add tagPrefix="mixerp" tagName="Product" src="~/UserControls/Products/ProductControl.ascx" />
                <add tagPrefix="mixerp" tagName="ProductView" src="~/UserControls/Products/ProductViewControl.ascx" />
                <add tagPrefix="mixerp" tagName="DateTextBox" src="~/UserControls/DateTextBox.ascx" />
                <add tagPrefix="mixerp" tagName="ReportHeader" src="~/UserControls/Reporting/Header.ascx" />
                <add tagPrefix="mixerp" tagName="Report" src="~/UserControls/ReportControl.ascx" />
                <add tagPrefix="mixerp" tagName="TransactionChecklist" src="~/UserControls/TransactionChecklistControl.ascx" />

                <add tagPrefix="mixerp" tagName="AlertsWidget" src="~/UserControls/Widgets/AlertsWidget.ascx" />
                <add tagPrefix="mixerp" tagName="CurrentOfficeSalesByMonthWidget" src="~/UserControls/Widgets/CurrentOfficeSalesByMonthWidget.ascx" />
                <add tagPrefix="mixerp" tagName="LinksWidget" src="~/UserControls/Widgets/LinksWidget.ascx" />
                <add tagPrefix="mixerp" tagName="OfficeInformationWidget" src="~/UserControls/Widgets/OfficeInformationWidget.ascx" />
                <add tagPrefix="mixerp" tagName="SalesByOfficeWidget" src="~/UserControls/Widgets/SalesByOfficeWidget.ascx" />
                <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimeCurrentWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimeCurrentWidget.ascx" />
                <add tagPrefix="mixerp" tagName="TopSellingProductOfAllTimetWidget" src="~/UserControls/Widgets/TopSellingProductOfAllTimetWidget.ascx" />
                <add tagPrefix="mixerp" tagName="WorkflowWidget" src="~/UserControls/Widgets/WorkflowWidget.ascx" />

                
                <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add tagPrefix="AjaxCTK" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
            </controls>
        </pages>
        <webServices>
            <protocols>
                <add name="HttpGet" />
                <add name="HttpPost" />
            </protocols>
        </webServices>
    </system.web>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="5000000" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="ChartImageHandler" />
            <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </handlers>
    </system.webServer>
</configuration>